# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env
/server/task.mp4
src/data/albums.json
src/data/albums.json
src/data/albums.json
src/data/events.json
src/data/reviews.json
src/data/settings.json
src/data/statistics.json
src/data/albums/album-1750273359411.json
src/data/albums/album-1750586299389.json
src/data/albums/album-1750590462060.json
